/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

nav {
  display: flex;
  padding: 0.5% 10%;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 1px 0px 1px #91909007;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  flex: 1%;
  text-align: center;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 900;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

ul li a:hover {
  color: #ff2c2c;
}

.nav-icon-bag {
  padding: 0 2rem;
}

.nav-icon-account {
  padding: 0 2rem;
}

.nav-icon-bag .material-symbols-outlined {
  cursor: pointer;
  color: #000000;
  font-size: 30px;
  font-weight: 100;
}

.nav-icon-account .material-symbols-outlined {
  cursor: pointer;
  color: #000000;
  font-size: 30px;
  font-weight: 100;
}

header {
  height: 50vh;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.281), black),
    url(./billy-freeman-YucOQrLPEJ0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slogan {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 95px;
  margin: 5rem;
  padding: 10rem 5rem;
}

button {
  padding: 13px 40px;
  font-size: 13px;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 700;
  background-color: transparent;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: translateX(2px);
  background-color: #ff0000;
  border: none;
  color: #ffffff;
}

img {
  height: 5%;
  width: 5%;
}

.inner-text {
  font-size: 23px;
  font-weight: normal;
  letter-spacing: normal;
}

.product-container {
  display: flex;
  margin: 5%;
  padding: 5%;
  justify-content: space-between;
}
.product-container .product-content {
  width: 50%;
  padding: 80px 60px;
}
.product-container .product img {
  width: 100%;
  height: 100%;
}

.product-container .product-content h3 {
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.product-container .product-content .price {
  font-size: 20px;
  font-weight: bold;
}

.product-container .product-content p {
  font-size: 15px;
}

.product-container .product-content .description {
  font-size: 15px;
  padding-bottom: 20px;
  color: grey;
}

.video {
  height: 50vh;
  width: 100%;
}

footer {
  height: 50vh;
  width: 100%;
  background: #e51b10;
}

.copyright {
  padding-left: 4.5rem;
  font-family: "Anek Malayalam", sans-serif;
  color: #fcfff7;
  font-weight: 100;
}

.copyright span {
  float: right;
  padding-right: 5rem;
}

.social-links i {
  padding: 0 1rem;
}
.links {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;
  padding: 4rem;
  color: #ffffff;
}

.links h4 {
  text-align: left;
  padding-left: 10px;
  font-family: "Anek Malayalam", sans-serif;
  color: white;
}
.explore-links li {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.explore-links li:hover {
  text-decoration: underline;
  color: #e9e8e8;
}
.links {
  padding-top: 5rem;
}
