/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

nav {
  display: flex;
  padding: 0.5% 10%;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 1px 0px 1px #91909007;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  flex: 1%;
  text-align: center;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 900;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

ul li a:hover {
  color: #ff2c2c;
}

.nav-icon-bag {
  padding: 0 2rem;
}

.nav-icon-account {
  padding: 0 2rem;
}

.nav-icon-bag .material-symbols-outlined {
  cursor: pointer;
  color: #000000;
  font-size: 30px;
  font-weight: 100;
}

.nav-icon-account .material-symbols-outlined {
  cursor: pointer;
  color: #000000;
  font-size: 30px;
  font-weight: 100;
}

header {
  height: 90vh;
  background-image: url(./bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #000000;
  font-size: 35px;
  font-family: "Anek Malayalam", sans-serif;
  width: 50%;
  margin: 5rem;
  padding: 16rem 5rem;
}

button {
  padding: 13px 40px;
  margin-top: 15px;
  font-size: 16px;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 700;
  background-color: transparent;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: translateX(2px);
  background-color: #ff0000;
  border: none;
  color: #ffffff;
}

img {
  height: 5%;
  width: 5%;
}

.inner-text {
  font-size: 20px;
  font-weight: normal;
  padding: 30px 0px;
  letter-spacing: normal;
}

hr {
  margin: 20px 0;
}
footer {
  height: 50vh;
  width: 100%;
  background: #e51b10;
}

.copyright {
  padding-left: 4.5rem;
  font-family: "Anek Malayalam", sans-serif;
  color: #fcfff7;
  font-weight: 100;
}

.copyright span {
  float: right;
  padding-right: 5rem;
}

.social-links i {
  padding: 0 1rem;
}
.links {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;
  padding: 4rem;
  color: #ffffff;
}

.links h4 {
  text-align: left;
  padding-left: 10px;
  font-family: "Anek Malayalam", sans-serif;
  color: white;
}
.explore-links li {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.explore-links li:hover {
  text-decoration: underline;
  color: #e9e8e8;
}
.links {
  padding-top: 5rem;
}

.cards {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
}

section {
  background: #fcfff7;
}

section h3 {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 35px;
  text-align: left;
  font-weight: 900;
  padding: 3rem 11rem;
}

section h3 span {
  font-size: 15px;
}
.card-1,
.card-2,
.card-3 {
  box-sizing: border-box;
  height: 500px;
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.card-1 {
  background-image: url(./Tom\ Hardy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-2 {
  background-image: url(./cyberpunk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-3 {
  background-image: url(./Bruce\ wayne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-1,
.card-2,
.card-3 {
  box-shadow: 0 8px 8px -4px rgb(184, 184, 184);
}

.card-1:hover {
  border: 1px solid black;
}

.card-2:hover {
  border: 1px solid black;
}

.card-3:hover {
  border: 1px solid black;
}

.inkwell {
  text-align: center;
  padding-bottom: 3rem;
}

.inkwell a {
  text-decoration: none;
  color: rgb(18, 18, 240);
  transition: 0.1s ease-in;
}

.inkwell a:hover {
  background: rgb(247, 245, 245);
  padding: 10px;
  border-radius: 5px;
}

/* cta styling below */

.cta-section {
  display: flex;
  margin: 5rem;
  padding: 5em;
  justify-content: center;
  align-items: center;
}

.cta-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0.603)),
    url(./rodnae.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  border-radius: 5px 0px 0px 5px;
}

.cta-btn {
  background: #fcfbfb;
  width: 900px;
  height: 500px;
  text-align: center;
  padding: 2rem;
  justify-content: space-between;
  border-radius: 0px 5px 5px 0px;
}

.cta-btn a {
  color: rgb(18, 18, 240);
  text-decoration: none;
  font-size: larger;
  transition: 0.1s ease-in;
}

.cta-btn a:hover {
  background: rgb(247, 245, 245);
  padding: 10px;
  border-radius: 5px;
}

h5 {
  font-size: 40px;
  padding-top: 12rem;
  font-family: "Anek Malayalam", sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
